{% extends 'base.html' %}
{% block header-css %}


{% endblock %}

{% block page-content-title %}
资产列表
{% endblock %}
{% load staticfiles %}
{% block page-nav-tab %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">群组</li></ol>
{% endblock %}



{% block page-content %}

    <div class="panel">
            <div id="grouplist" style="width: 1000px;">
                <div class="row" style="float:left;width: 200px;"><li class="list-group-item " style="float:right;width: 200px;">
					<div id="mainnav-menu-wrap" style="float:right;width: 170px;">
                        {% for Group in groups %}
						<ul id="mainnav-menu1" class="list-group">
                            <a href="#{{ Group.Group }}" class="nav-header" data-toggle="collapse">
							<i class="glyphicon glyphicon-th-list"></i>
							{{ Group.Group }}
							   <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
						</a>
						<ul id="{{ Group.Group }}" class="nav nav-list collapse secondmenu">
                            {% for minion in Group.minion.all %}
							<li><a href="#"><i class="glyphicon glyphicon-asterisk"></i> {{ minion.minionid }}</a></li>
                            {% endfor %}
						</ul>
                        </ul>
                        {% endfor %}
						 </div>
                </div></li>
        <lu class="row" style="float:right;width: 800px;">
<!--Category name-->
            <li class="list-group-item " >创建群组</li>
             <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="{% url 'hostlist:minion_groups' %}">
             <div class="panel panel-default">
                    <div class="panel-body" style="float:left;width: 650px;">
                     <input type="text" class="form-control" name="creategroups" value='' placeholder="请输入想要创建的群组名称" >
                </div>
            <div class="form-group">
                 <div class="panel-body" style="float:right;width: 140px;">
                    <button type="submit" class="btn btn-primary" id="execapi">确认创建</button>
                 </div>
            </div>
                <div class='bg-primary'>
                    <h4 id="info"></h4>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" style="height: 35px;">创建结果{{ msg }}</button>
                </div>
            </div>{% csrf_token %}
                </form>

									<!--Menu list item-->
<!--Category name-->		<lu class="list-group-item " >分组
                                    <button type="button " class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-flag"></span>{{ group }}
                                    </button></lu>
                            <lu class="list-group-item" style="height: 70px;">

									<!--Menu list item-->
                                 <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="{% url 'hostlist:group_add_minions' group.id %}">
                                 <div style="float:left;width: 230px;">群组成员
                                 <select data-style="btn-warning" name="oldminions" id="oldminions" class="selectpicker form-control" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                                     {% for minion in has_minions %}
                                         <option selected >{{ minion.minionid }}</option>
                                     {% endfor %}
                                 </select>
                                 </div>
                                 <div style="float:left;width: 200px;">待加入
                                 <select data-style="btn-danger" name="newminions" id="newminions" class="selectpicker form-control" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                                     {% for minion in no_has_minions %}
                                     <option>{{ minion.minionid }}</option>
                                     {% endfor %}
                                 </select>
                                 </div>
                                 <div style="float:left;width: 200px;" hidden>群组
                                 <select hidden  data-style="btn-info" name="togroup" id="togroup" class="selectpicker form-control" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                                     <option selected  value="{{ group }}" hidden>{{ group }}</option>
                                 </select>
                                 </div>
                                 <div class="form-group">
                                    <div  style="float:right;width: 100px;"><br>
                                        <button type="submit" class="btn btn-primary" id="execapi">确认添加</button>
                                </div>
                                </div>
                    {% csrf_token %}</form></lu>
             <div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" style="height: 35px;">添加结果</button>
                </div>
        </div>

    </div>

</div>

<!--
<div class="row">
    <div class="panel col-md-7">
        <div class="panel-body" >
            <div id="business_load" style="width: 600px;height:400px;"></div>
        </div>
    </div>
</div>
-->
{% endblock %}

{% block bottom-js %}
<script type="text/javascript">
var workorderParamParentCode=document.getElementById("workorderParamParentCode");
var i=workorderParamParentCode.selectedIndex;
function setDefault() {
workorderParamParentCode.selectedIndex=i;
}
</script>
{% endblock %}