{% extends 'base.html' %}
{% load staticfiles %}

{% block header-css %}
<script src="{% static 'echart/echarts.js' %}"></script>

{% endblock %}

{% block page-content-title %}
Dashboard
{% endblock %}
{% load staticfiles %}
{% block page-nav-tab %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="{% url 'index' %}">仪表盘</a></li>
</ol>
{% endblock %}



{% block page-content %}
<div class="row">
    <div class="panel">
        <div class="panel-body" >

           <div class="form-group">
               <div  style="float: left;width: 1440px;margin: 10px" >
									<!--Menu list item-->
                                 <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="{% url 'indexminions' %}">

                                 <div style="float:left;width: 200px;">
                                 <button type="button" class="btn btn-danger btn-lg " disabled style="height:40px;width: 140px;margin: 0px 0px 0px 0px">Minion Info</button>
                                 </div>
                                 <div style="float:left;width: 1000px;height: 40px;margin: 5px">
                                 <select  data-size="8" style="height: 40px" data-style="btn-default" name="infominionid" id="infominionid" class="selectpicker form-control"  data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                                     {% for minion in all_acc_minions %}
                                         <option style="height: 30px">{{ minion.minionid }}</option>
                                     {% endfor %}
                                 </select>
                                </div>
                                 <div style="float:right;width: 200px;margin: 0px -70px 0px 0px">
                                 <button type="submit" class="btn btn-primary btn-lg "  style="height:40px;width: 140px;margin: 0px 0px 0px 0px">确        定</button>
                                 </select>
                                 </div>
                    {% csrf_token %}</form>

               </div>
           </div>

            <div id="asset_categories" style="width: 90%;height:500px;">
                <div class="col-sm-3 placeholder">
                  <ul class="list-group">
                      <li class="list-group-item  active">Master服务器信息 ( {{ loadavg.updatetime }} )</li>
                      <li class="list-group-item">系统负载(1min 5min 15min) : <br><br><strong>{{ loadavg.one }}&nbsp;{{ loadavg.five }}&nbsp;{{ loadavg.fifteen }}&nbsp;{{ loadavg.processes }} &nbsp;{{ loadavg.nowprocesspid }}</strong></li>
                      <li class="list-group-item">CPU :</li>
                      <li class="list-group-item">内存(MB) :{% for memname,meminfo in mem.items %} <strong>{{ memname }}{{ meminfo }}&nbsp;&nbsp;&nbsp;</strong>{% endfor %}</li>
                      <li class="list-group-item">硬盘 : <strong><!--{{ret.diskused}}G/{{ret.disktotal}}G {{ret.diskperc}}-->%</strong></li>
                  </ul>
                </div>
                <div class="col-sm-3 placeholder">
                  <ul class="list-group">
                    <li class="list-group-item active">Master组件状态 ( {{ master_status.updatetime }} )</li>
                    <li class="list-group-item">SaltStack进程 : <strong>{{ master_status.status }}</strong></li>
                    <li class="list-group-item">Salt-API进程 : <strong><!--{{ret.apist}}--></strong></li>
                    <li class="list-group-item">MySQL进程 : <strong><!--{{ret.myst}}--></strong></li>
                    <li class="list-group-item">Redis进程 : <strong><!--{{ret.snmpst}}--></strong></li>
                  </ul>
                </div>
                <div class="col-sm-3 placeholder">
                  <ul class="list-group">
                    <li class="list-group-item active">Minions状态</li>
                    <li class="list-group-item">总量 : <strong>{{ online.all }}</strong> 台</li>
                    <li class="list-group-item">在线 : <strong>{{ online.online }}</strong> 台</li>
                    <li class="list-group-item">离线 : <strong>{{ online.offline }}</strong> 台</li>
                    <!--li class="list-group-item">备用</li-->
                  </ul>
                </div>
                <div class="col-sm-3 placeholder">
                  <ul class="list-group">
                    <a class="list-group-item active">Key列表</a>
                    <a class="list-group-item">已接受 : <strong>{{ acc_minions_count }}</strong> 台</a>
                    <a class="list-group-item">待接受 : <strong>{{ unacc_minions_count }}</strong> 台</a>
                    <a class="list-group-item">异&nbsp;&nbsp;常 : <strong>{{ error_minions_count }}</strong> 台</a>
                    <!--li class="list-group-item">备用</li-->
                  </ul>
                </div>
                <div class="col-sm-12 placeholder">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">最近事件</h3>
                    </div>
                    <div class="panel-body">
                      <pre>
                          <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
    title : {
        text: 'Web PV统计',
        subtext: '说明：每日凌晨统计前一天数据'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:[{% for log,data in seven_pv.items %}{{ log }}{% endfor %} ]
    },
    toolbox: {
        show : true,
        feature : {
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : [{{ one_formatted }},{{ two_formatted }},{{ three_formatted }},{{ four_formatted }},{{ five_formatted }},{{ six_formatted }},{{ seven_formatted }}]
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {% for log,data in seven_pv.items  %}
        {
            name:'{{ log }}',
            type:'bar',
            data:[{% for pv in data %}{{ pv }},{% endfor %}],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        {% endfor %}
    ]
};
                                  // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

                      </pre>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--
<div class="row">
    <div class="panel col-md-7">
        <div class="panel-body" >
            <div id="business_load" style="width: 600px;height:400px;"></div>
        </div>
    </div>
</div>
-->
{% endblock %}

{% block bottom-js %}
    <script type="application/javascript">
    $('ol').each(function () {
  this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
}).on('input', function () {
  this.style.height = 'auto';
  this.style.height = (this.scrollHeight) + 'px';
});
{% endblock %}