{% extends 'base.html' %}
{% load custom_tag %}
{% load staticfiles %}
{% block header-css %}
{% endblock %}

{% block page-content-title %}
SaltStack
{% endblock %}
{% load staticfiles %}
{% block page-nav-tab %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">服务配置(开发)</li></ol>
{% endblock %}



{% block page-content %}
    <div class="panel">
            <div id="grouplist" style="width: 1550px;">
                <div class="row" style="float:left;width: 200px;">
                    <li class="list-group-item " style="float:right;width: 300px;margin: 0px -100px 0px 0px"><br>服务列表<hr>
					<div id="mainnav-menu-wrap" style="float:right;width: 250px;margin: -50px 20px 0px 20px">
                        {% for service in all_service_dev %}
						<ul id="mainnav-menu1" class="list-group">
                            <a href="#{{ service.name }}" class="nav-header" data-toggle="collapse">
                                <i class="glyphicon glyphicon-asterisk" style="height: 20px;width:170px;word-wrap: break-word;font-size: 15px;letter-spacing:0.4px;"><span>{{ service.name }}</span></i>


                                <div id="edit" style="float:right;margin: 0px -30px 0px 0px">
                                    <button type="button " class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-magnet"></span><a href="{% url 'fileupload:upload_join' service.id %}">更新关联</a>
                                    </button>
                                </div>
						    </a>
						<ul id="{{ service.name }}" class="nav nav-list collapse secondmenu" style="width: 200px">
                            {% for minion in service.minions.all %}
							<li><a href="#"><i class="glyphicon glyphicon-record"></i> {{ minion.minionid }}</a></li>
                            {% endfor %}
						</ul>
                        </ul>
                        {% endfor %}
						 </div>
                </div>
                    <div class="row" style="float:right;width: 200px;">
                        <li class="list-group-item " style="float:right;width: 370px;"><br>附件列表<hr>
					<div id="mainnav-menu-wrap" style="float:right;width: 340px;">
                        {% for file in all_files %}
						<ul id="mainnav-menu1" class="list-group">
                              <a href="#{{ file.name }}" class="nav-header" data-toggle="collapse">
							<i class="glyphicon glyphicon-th-list" style="height: 30px"></i>
							{{ file.name }}
                                <div id="edit" style="float:right;">
                                    <button type="submit" class="btn btn-default btn-sm" >
                                        <span class="glyphicon glyphicon-trash"></span><a href="{% url 'fileupload:upload_remove' %}?fileremove={{ file.name }}">移除</a>
                                    </button>
                                </div>
                                  <div id="edit" style="float:right;">
                                    <button type="submit" class="btn btn-default btn-sm" >
                                        <span class="glyphicon glyphicon-save"></span><a href="{% url 'fileupload:upload_download' %}?filedownload={{ file.name }}">下载</a>
                                    </button>
                                </div>
						    </a>
						</ul>
                        {% endfor %}
						 </div>
                </div>
            <!--
        <lu class="row" style="float:right;width: 900px;margin: -0px 190px 0px 50px">
                <button type="button" class="btn btn-danger btn-lg "  style="height: 40px;width: 900px;margin: 0px 0px 0px 0px">创建服务</button>

             <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="{% url 'salt:salt_deploy_dev' %}">
             <div class="panel panel-default">
                     <div class="panel-body" style="float:left;width: 250px;height: 35px;">
                      <button type="button" class="btn btn-primary btn-lg btn-block"  style="height: 40px;">服务名称</button>
                    </div>
                    <div class="panel-body" style="float:right;width: 650px;">
                     <input type="text" style="height: 40px;" class="form-control bg-info text-muted" name="servicename" value='' placeholder="请输入想要创建的服务名称" >
                    </div>

                 <div class="panel-body" style="float:left;width: 250px;height: 35px;">
                         <p style="height: 30px;"></p>
                      <button type="button" class="btn btn-primary btn-lg btn-block"  style="height: 40px;">sls配置文件</button>
                    </div>
                    <div class="panel-body" style="float:right;width: 650px;">
                        <textarea type="text" id="myInput" class="form-control"  rows="10" name="sls"></textarea>
                    </div>
            <div class="form-group">
                 <div class="panel-body" style="float:right;width: 140px;">

                 </div>
            </div>
                <div class='bg-primary'>
                    <h4 id="info"></h4>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-block" style="height: 35px;" id="execapi">确认创建</button>
                                    <div class='bg-info'></div>
                <div >
                    <br>
                    <button type="button" class="btn btn-primary btn-block">创建结果</button>
                    <pre  style="line-height:10px;width: auto" id="result">
                   {{ msg }}
                    </pre>
                </div>
                </div>

            </div>{% csrf_token %}
                </form>
        </lu></div>
    </div>
</div>
<button type="button" class="btn btn-danger btn-lg "  style="height: 40px;width: 900px;margin: 20px 0px 0px 315px">附件上传</button>
        <div class="panel">

            <div id="grouplist" style="width: 1200px;">
                <lu class="row" style="float:right;width: 900px;background:#fcfcfe;">
     <div class="panel panel-default">
            <div class="panel-body" style="float:left;width: 250px;height: 35px;">
                <p style="height: 0px;"></p>
                <button type="button" class="btn btn-primary btn-lg btn-block"  style="height: 40px;">附件</button>
            </div>
            <div class="panel-body" style="float:right;width: 650px;">
                    <div class="form-group">

                <form id="uploader" class="wu-example" method="post" action="{% url 'fileupload:upload' %}" enctype="multipart/form-data">
                    <div id="thelist" class="uploader-list"></div>
                    <div class="btns">
                        <div id="picker" style="float:left;width:300px;margin: 20px;">
                        <input type="file" name="filesource" class="filestyle" data-buttonName="btn-primary">
                        </div>
                        <button id="ctlBtn" class="btn btn-default" type="submit" style="float: right;margin: 20px; width:85px">开始上传</button>
                    </div>{% csrf_token %}
                </form>
                </div>
            </div>
     </div>
                    <div class="panel panel-default">
            <div class="panel-body" style="float:left;width: 250px;height: 35px;">
                <p style="height: 0px;"></p>
                <button type="button" class="btn btn-primary btn-lg btn-block"  style="height: 40px;margin: 30px 0px 0px 0px">GIT</button>
            </div>
            <div class="panel-body" style="float:right;width: 650px;">
                    <div class="form-group">

                <form id="uploader" class="wu-example" method="post" action="{% url 'fileupload:upload_git' %}" enctype="multipart/form-data">
                    <div id="thelist" class="uploader-list"></div>
                    <div class="btns">
                        <div id="picker" style="float:left;width:300px;margin: -40px 0px 0px 20px;">
                            <input type="text" style="height: 40px;" class="form-control bg-warning text-muted" name="servicename" value='' placeholder="请输入git地址" >
                        </div>
                        <button id="ctlBtn" class="btn btn-default" type="submit" style="float: right;margin: -35px 20px 0px 0px; width:85px">开始上传</button>
                    </div>{% csrf_token %}
                </form>
                </div>
            </div>
     </div>
   </lu>-->
            </div>

        </div>
    <a href="{% url 'salt:salt_deploy_dev' %}" type="button" class="btn btn-info btn-lg btn-block "  style="height: 40px;width: 900px;margin: -25px 0px 0px 290px">返回</a>
    <button type="button" class="btn btn-danger btn-lg "  style="height: 40px;width: 900px;margin: -5px 0px 0px 120px">服务关联附件</button>
            <div class="panel" style="width: 400px;margin: 0px 0px 0px 290px">
            <div id="grouplist" style="width: 900px;margin: 0px 0px 0px 0px">
            <lu class="list-group-item " style="height: 32px"><button type="button" class="btn btn-primary btn-block"  style="height: 30px;width: 70px;margin: -10px 0px 0px -15px">服务</button><button type="button " class="btn btn-success btn-sm" style="height: 30px;width: 140px;margin: -48px 0px 0px 55px">
                                    <span class="glyphicon glyphicon-flag"></span>  {{ join_service.name }}
                                    </button></lu>

                            <ol class="list-group-item">

									<!--Menu list item-->
                                 <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="{% url 'salt:update_dev_service' %}">
                                 <div style="float:left;width: 200px;" hidden>服务
                                 <select hidden  data-style="btn-info" name="updatedevservicename" id="updatedevservicename" class="selectpicker form-control" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                                     <option selected  value="{{ join_service.name }}" hidden>{{ join_service.name }}</option>
                                 </select>
                                 </div>
                                 <div style="float:left;width: 230px;">主机
                                 <select  data-size="8" data-style="btn-warning" name="updatedevminions" id="updatedevminions" class="selectpicker form-control" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                                     {% for minion in all_acc_minion %}
                                         {% if minion in join_service.minions.all %}
                                         <option selected>{{ minion.minionid }}</option>
                                         {% else %}
                                         <option>{{ minion.minionid }}</option>
                                         {% endif %}
                                     {% endfor %}
                                 </select>
                                 </div>
                                 <div style="float:left;width: 200px;">群组
                                 <select data-size="8" data-style="btn-danger" name="updatedevgroups" id="updatedevgroups" class="selectpicker form-control" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                                     {% for group in all_groups %}
                                     {% if group in join_service.groups.all %}
                                         <option selected>{{ group.Group }}</option>
                                         {% else %}
                                         <option>{{group.Group }}</option>
                                         {% endif %}
                                     {% endfor %}
                                 </select>
                                 </div>
                                 <div style="float:left;width: 200px;">附件
                                 <select  data-size="8" data-style="btn-info"  name="updatedevfilename" id="updatedevfilename" class="selectpicker form-control"  data-live-search="true" data-live-search-placeholder="Search" >
                                     {% for file in all_files %}
                                      {% if file == join_service.file %}
                                         <option selected>{{ file.name }}</option>
                                         {% else %}
                                         <option>{{file.name }}</option>
                                         {% endif %}
                                     {% endfor %}
                                 </select>
                                 </div>
                                 <div style="float:left;width: 640px;margin: 20px 0px 0px 0px">配置文件(.sls)
                                   <textarea type="text" id="myInput" class="form-control"  rows="10" name="updatedevsls">{{ join_service.sls }}</textarea>
                                     <div  style="float:right;width: 100px;margin: -0px -200px 30px 0px"><br>
                                         <button type="submit" class="btn btn-primary" id="execapi">更新关联</button>
                                     </div>
                                 <br>
                                     <div class="form-group">
                                        <div  style="margin: 15px 20px 0px 0px;width: 100%">
                                        <button type="button" class="btn btn-danger btn-block"  style="width: 150px;text-align:left;margin: 0px 0px 0px 0px">当前附件解压缩后位置</button>

                                <pre style="line-height:10px;width: 100%;background: #ffffff;border:dashed 0px;text-align: left">{% autoescape off %}
    1. 建议解压后目录名称与服务名称一一对应，则sls文件源格式为：服务名/目录名;

    2. 务必清楚附件解压名称！！！
                                {% endautoescape %}</pre>
                                <button type="button" class="btn btn-warning btn-block"  style="width: 100px;text-align:left;margin: 0px 0px 0px 0px">操作指南</button>
                                <br>
                                <pre style="line-height:10px;width: 100%;background: #ffffff;border:dashed 0px;text-align: left">{% autoescape off %}
    1. 服务必须关联一个附件，哪怕附件为空的压缩包，建议打包名称为服务名称
                                {% endautoescape %}</pre>
                            </div>

                                </div>
                                 </div>
                    {% csrf_token %}</form>
                            </ol>
                <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="{% url 'salt:devservicedelete' %}">
                    <div hidden>
                        <select hidden  data-style="btn-info" name="devservicedelete" id="devservicedelete" class="selectpicker form-control" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                                     <option selected  value="{{ join_service.name }}" hidden>{{ join_service.name }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg "  style="height: 40px;width: 900px;margin: 0px 0px 0px 0px">删除当前服务（谨慎操作）</button>
                {% csrf_token %}</form>
            </div>
            </div>

        </div>
{% endblock %}
{% block bottom-js %}
    <script src="{% static 'js/bootstrap-filestyle.js' %}"></script>
    <script type="application/javascript">
$(":file").filestyle({buttonName: "btn-primary"});
</script>


<script type="application/javascript">
    $('ol').each(function () {
  this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
}).on('input', function () {
  this.style.height = 'auto';
  this.style.height = (this.scrollHeight) + 'px';
});
</script>

    <script type="application/javascript">
    $('textarea').each(function () {
  this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
}).on('input', function () {
  this.style.height = 'auto';
  this.style.height = (this.scrollHeight) + 'px';
});
</script>

<script type="text/javascript">
    var myInput = document.getElementById("myInput");
    str = "    ";
    if(myInput.addEventListener ) {
        myInput.addEventListener('keydown',this.keyHandler,false);
    } else if(myInput.attachEvent ) {
        myInput.attachEvent('onkeydown',this.keyHandler); /* damn IE hack */
    }

    function keyHandler(e) {
        var TABKEY = 9;
        if(e.keyCode == TABKEY) {
            insertText(myInput,str);
            if(e.preventDefault) {
                e.preventDefault();
            }
        }
    }
    function insertText(obj,str) {
        if (document.selection) {
            var sel = document.selection.createRange();
            sel.text = str;
        } else if (typeof obj.selectionStart === 'number' && typeof obj.selectionEnd === 'number') {
            var startPos = obj.selectionStart,
                endPos = obj.selectionEnd,
                cursorPos = startPos,
                tmpStr = obj.value;
            obj.value = tmpStr.substring(0, startPos) + str + tmpStr.substring(endPos, tmpStr.length);
            cursorPos += str.length;
            obj.selectionStart = obj.selectionEnd = cursorPos;
        } else {
            obj.value += str;
        }
    }
</script>


{% endblock %}